<div class="jumbotron">
    <% provide(:title, "Help") %>
    <h1> Help</h1>
    <p>
    If you need any help in understanding this application or you just want to pass some critics about 
    this or suggestions on what can work better please feel free to halla at me
    </p>
    <p> My email is cessmbuguar@gmail.com. </p>
    <p>If  talking to mesucks or for your own  reasons you just don't like me
    look at Michael Hartl's tutorial Ruby on rails online.  You can't miss it.
    </p>
    <p> I am here for you to help a fella as i was helped by also Michael Hartl and a good friend of mine.
    <p>
    You can also look at his rails cast they are so exceptional and interesting to listen to.
    </p>
    <p>Cheers!!! dont die  alone (that made sense in my head....said in Swahili)
    </p>
</div>
