<div class="center jumbotron">
<% provide(:title, "Home") %>
<h1> Twitter Clone</h1>
<p> This is an application that mimmicks the  the way twitter works and
behaves. 
My motivation of making this application is because i love twitter the way 
it works, its interaction .
</p>
<p> It is my all time best social media application, unique and the fact that
its all about strangers being honest with each other.
</p><p>
Or maybe i am making this application because  i learnt ruby on rails with Micheal
Hartl's Sample app which builds a twitter-like application 
</p>
<p>
Damn!! i loved
it and i want to go over it again with better and maximal understanding because
i think i am in love with rails as of now .

</p>
<p> Please rails be loyal and don't you dare break my rich heart....just
kidding it a bit broke one :) 
</p>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>

</div>
<%= link_to  image_tag("twit.png", alt: "Twitter clone"), 'http://www.twitter.com' %>
